html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
div {
    margin-bottom: 15px;
    padding: 10px 25px 10px 25px;
}
.Sparclean {
    height: 135px;
}
#Services_0 
{ 
  left: 125px;
	 top: 62px; 
	 position: absolute; 
	 width: 52px;
	 height: 11px;
	 z-index:63;
} 
.l-wrap {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    height: 94px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 4px 5px 0 rgba(58, 67, 70, 0.11);
}
.three-col-grid .grid-item {
    width: 0 auto;
    float: left;
}
// Clearfix
@mixin clearfix {
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}
// Usage
.three-col-grid {
    @include clearfix;
}
.grid-item {
    width: 0 auto;
}
   
.grid-item:last-child {
    margin-right: 0 auto;
}
​.grid-item:last-child {
    margin-right: 0 auto;
    float: right;
}
#navbar ul {
    display: block;
    background-color:
    position: absolute;
    top: 100%;
}
#navbar li:hover ul {
    display: block;
}
#navbar,
#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navbar {
    height: 0 auto;
    background-color: #666;
    padding-left: 0 auto;
    min-width: 0 auto;
}
#navbar li {
    float: left;
    position: relative;
    height: 0 auto;
}
#navbar li a {
    display: inline-block;
    padding: 6px;
    width: 0 auto;
    height: 13px;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4f6569;
}
#navbar ul li {
    float: none;
}
#navbar li:hover {
    background-color: #f90;
}
#navbar ul li:hover {
    background-color: #666;
}
.left-column {
    float: left;
    width: 50%;
    min-height: 100px;
    background-color: #fcf8e3;
}

.right-column {
    float: right;
    width: 25%;
    min-height: 100px;
    background-color: #d9edf7;
}

.footer {
    clear: both;
    background-color: #fafcfd;
}
.block_foter {
  display: inline-block;
  max-width: 1920px;
  min-width: 0 auto;
  margin-right: 0;
  margin-left: 0;
  vertical-align: middle;
  width: 0 auto;
  min-height: 75px;
  margin-right: 0 auto;
  margin-bottom: 0;
}
.block_foter:nth-child(3n) {
  margin-right: 0;
}
.Ready-to-book {
  font-family: WorkSans;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #57616b;
}
.Rectangle-3 {
  width: 230px;
  height: 59px;
  border-radius: 29.1px;
  background-color: #8564c1;
  box-shadow: 0px 6px 18px 0 rgba(57, 73, 78, 0.28);
  margin-left: 150px;
  padding: 10px 10px 10px 10px;
}
.Rectangle-30 {
  width: 230px;
  height: 59px;
  border-radius: 29.1px;
  background-color: #bbc1cd;
  border: solid 2px #bbc1cd;
  padding: 10px 10px 10px 10px;
}
.We-are-committed-to {
    width: 802px;
    height: 40px;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
  }
.Donec-nec-diam-conva-Copy {
  width: 262px;
  height: 83px;
  font-family: WorkSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #737778;
}
.Created-by {
  width: 0 auto;
  height: 0 auto;
  font-family: WorkSans;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #4f6569;
  margin-top: 150px;
  background-color: #fafcfd;
}
.Unit-5-113-Industri {
  width: 151px;
  height: 70px;
  font-family: WorkSans;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #4f6569;
}
.SERVICES-PRICING-L {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.13;
    letter-spacing: normal;
    text-align: left;
    color: #4f6569;
  }
  .Available-here {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #8564c1;
  }
  .Shellharbour-Wollong {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #4f6569;
  }
  .See-more {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4f6569;
  }
.col{
  float: left;
  width: 25%;
  box-sizing: border-box;
  background-color: #fafcfd;
} 
.row .col {
  &.w1-1 { width: 100%; float: none;}
  &.w1-2 { width: 50%; }
  &.w1-3 { width: 33.333%; }
  &.w1-4 { width: 25%; }
  &.w1-5 { width: 20%; }
}
col.w1-1 { width: 100%; float: none;}
col.w1-2 { width: 50%; }
col.w1-3 { width: 33.333%; }
col.w1-4 { width: 25%; }
col.w1-5 { width: 20%; }
.Privacy-policy {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #57616b;
  }
  .Your-privacy-is-very {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #697783;
  }
  .Before-or-at-the-tim {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
  }
  .Oval-35 {
    width: 9px;
    height: 9px;
    background-color: #8564c1;
  }
  .Stay-connected {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #8564c1;
  }
  .Wed-love-for-you-to {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
  }
  .Shape {
    width: 0 auto;
    height: 0 auto;
    object-fit: contain;
    background-color: #8564c1;
  }
  .Web-site-terms-and-c {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #57616b;
  }
  .Your-privacy-is-very {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #697783;
  }
  .Terms {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
  }
  .By-accessing-this-we {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
  }
  .Use-license {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
  }
  .Mauris-non-tempor-qu {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
  }
  .Aliquam-interdum-dol {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
  }
  .Disclaimer {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
  }
  .Mauris-non-tempor-qu {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
  }
  .Disclaimer {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
  }
  .Mauris-non-tempor-qu {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
  }
  .Revision-and-errata {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
  }
  .Mauris-non-tempor-qu {
    width: 0 auto;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
  }
  .Rectangle-15 {
    width: 818px;
    height: 68px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0 #dfe7eb;
    padding-left: 150px;
    text-align: center;
  }
