@font-face {
    font-family: "WorkSans-Black";
    src: url("../fonts/WorkSans-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/WorkSans-Black.woff") format("woff"),
        url("../fonts/WorkSans-Black.ttf") format("truetype"),
        url("../fonts/WorkSans-Black.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans-Bold";
    src: url("../fonts/WorkSans-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/WorkSans-Bold.woff") format("woff"),
        url("../fonts/WorkSans-Bold.ttf") format("truetype"),
        url("../fonts/WorkSans-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans-ExtraBold";
    src: url("../fonts/WorkSans-ExtraBold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/WorkSans-ExtraBold.woff") format("woff"),
        url("../fonts/WorkSans-ExtraBold.ttf") format("truetype"),
        url("../fonts/WorkSans-ExtraBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans-ExtraLight";
    src: url("../fonts/WorkSans-ExtraLight.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/WorkSans-ExtraLight.woff") format("woff"),
        url("../fonts/WorkSans-ExtraLight.ttf") format("truetype"),
        url("../fonts/WorkSans-ExtraLight.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans-Medium";
    src: url("../fonts/WorkSans-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/WorkSans-Medium.woff") format("woff"),
        url("../fonts/WorkSans-Medium.ttf") format("truetype"),
        url("../fonts/WorkSans-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans-Regular";
    src: url("../fonts/WorkSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/WorkSans-Regular.woff") format("woff"),
        url("../fonts/WorkSans-Regular.ttf") format("truetype"),
        url("../fonts/WorkSans-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans-SemiBold";
    src: url("../fonts/WorkSans-SemiBold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/WorkSans-SemiBold.woff") format("woff"),
        url("../fonts/WorkSans-SemiBold.ttf") format("truetype"),
        url("../fonts/WorkSans-SemiBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans-Thin";
    src: url("../fonts/WorkSans-Thin.eot?#iefix") format("embedded-opentype"),
        url("../fonts/WorkSans-Thin.woff") format("woff"),
        url("../fonts/WorkSans-Thin.ttf") format("truetype"),
        url("../fonts/WorkSans-Thin.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #ffffff;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
}
/*хедер*/
header {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 4px 5px 0 rgba(58, 67, 70, 0.11);
}
header h1,
header nav {
    display: inline-block;
}
header::after {
    content: "";
    display: inline-block;
    width: 100%;
}
header h1 {
    height: 100%;
}
header h1::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
@media screen and (max-width: 600px) {
    header {
        height: auto;
    }

    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }
}
/* меню */
.nav {
    margin: 20px 0;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav li {
    margin: 0 5px 10px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    *display: inline; /* ie7 */
}
.nav a {
    padding: 3px 12px;
    text-decoration: none;
    color: #999;
    line-height: 100%;
    text-align: left;
    text-indent: 25px;
}
nav a#current {
    display: none;
}
.nav a:hover {
    color: #000;
}
.nav .current a {
    background: #999;
    color: #fff;
    border-radius: 3px;
}
/* меню справа */
.nav.right ul {
    text-align: right;
}
@media screen and (max-width: 600px) {
    .nav {
        position: relative;
        min-height: 40px;
    }
    .nav ul {
        width: auto;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: ;
        border: solid 1px rgb(121, 8, 111);
        background: #ffffff no-repeat 10px 11px;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .nav li {
        display: none; /* скрыть все <li> пункты */
        margin: 0;
    }
    .nav .current {
        display: block; /* показывать только текущие активные <li> пункты */
    }
    .nav a {
        display: block;
        padding: 5px 5px 5px 32px;
        text-align: left;
    }
    .nav .current a {
        background: none;
        color: #666;
    }

    /* при наведении на пункты меню */
    .nav ul:hover {
        background-image: none;
    }
    .nav ul:hover li {
        display: block;
        margin: 0 0 5px;
    }
    .nav ul:hover .current {
        background: url(images/icon-check.png) no-repeat 10px 7px;
    }

    /* адаптивное меню справа */
    .nav.right ul {
        left: auto;
        right: 0;
    }
}
/* адаптивное блоки*/
.row,
.column {
    box-sizing: border-box;
    overflow: hidden;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.column {
    position: relative;
    float: left;
}
.column + .column {
    margin-left: 1.6%;
}
.column-1 {
    width: 6.86666666667%;
}
.column-2 {
    width: 15.3333333333%;
}
.column-3 {
    width: 23.8%;
}
.column-4 {
    width: 32.2666666667%;
}
.column-5 {
    width: 40.7333333333%;
}
.column-6 {
    width: 49.2%;
}
.column-7 {
    width: 57.6666666667%;
}
.column-8 {
    width: 66.1333333333%;
}
.column-9 {
    width: 74.6%;
}
.column-10 {
    width: 83.0666666667%;
}
.column-11 {
    width: 91.5333333333%;
}
.column-12 {
    width: 100%;
}
.footer {
    clear: both;
    background-color: #fafcfd;
}
@media only screen and (max-width: 600px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: auto;
        float: none;
    }
    .column + .column {
        margin-left: 0;
    }
}
/* адаптивные таблицы*/
.table-container {
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}
.table-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

.table-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);
}
/* макет */
.BOOK-NOW {
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 10px;
}
.Rectangle-53 {
    background-color: #8564c1;
}
.Ready-to-book {
    font-family: WorkSans;
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #57616b;
}
.Book-professional-ho {
    font-family: WorkSans;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8998a7;
}
.BOOK-A-CLEAN {
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 75px;
    color: #ffffff;
}
.Rectangle-3 {
    border-radius: 29.1px;
    background-color: #8564c1;
    box-shadow: 0px 6px 18px 0 rgba(57, 73, 78, 0.28);
    top: 65px;
}
.SEE-SERVICES {
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding-left: 75px;
    color: #8c96aa;
}
.Rectangle-30 {
    border-radius: 29.1px;
    background-color: #bbc1cd;
    border: solid 2px #bbc1cd;
    top: 65px;
}
.Donec-nec-diam-conva-Copy {
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
}
.Created-by {
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #4f6569;
}
.Unit-5-113-Industri {
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #4f6569;
}
.a73-421-0467-32 {
    width: 99px;
    height: 35px;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #4f6569;
}
.hellosparcleancom {
    width: 179px;
    height: 15px;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #4f6569;
}
.Sparclean-Ser {
    width: 198px;
    height: 15px;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #949ba9;
}
.SERVICES-PRICING-L {
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.13;
    letter-spacing: normal;
    text-align: left;
    color: #4f6569;
}
.Terms-Conditions {
    width: 144px;
    height: 12px;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #949ba9;
}
.Available-here {
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #8564c1;
    padding-right: 84px;
}
.Shellharbour-Wollong {
    font-family: WorkSans;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #4f6569;
}
.Privacy-Policy {
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #949ba9;
}
.Services-Pricing {
    font-family: LucidaGrande;
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #57616b;
}
.We-offer-simple-pric {
    font-family: WorkSans;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.1px;
    text-align: center;
    color: #8998a7;
}
.Services-pricing-shape {
    width: 167px;
    height: 208px;
    object-fit: contain;
    background-color: #8564c1;
    border-radius: 15px;
    box-shadow: 0px 6px 18px 0 rgba(57, 73, 78, 0.28);
}
.Recurring {
    width: 84px;
    height: 17px;
    font-family: WorkSans;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4b3770;
    padding-left: 55px;
    padding-top: 25px;
}
.layer {
    width: 69px;
    height: 37px;
    font-family: WorkSans;
    font-size: 41px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    color: #ffffff;
    padding-left: 60px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.PER-HOUR {
    width: 71px;
    height: 11px;
    font-family: WorkSans;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #4b3770;
    padding-left: 60px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.One-Off-Cleaning {
    width: 76px;
    font-family: WorkSans;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4b3770;
    padding-left: 55px;
    padding-top: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.Price-Estimator {
    font-family: WorkSans;
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #57616b;
}
.Select-the-number-of {
    font-family: WorkSans;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.1px;
    text-align: center;
    color: #8998a7;
}
.Lorem-ipsum {
    width: 265px;
    height: 40px;
    font-family: WorkSans;
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #57616b;
}
.Book-professional-ho {
    font-family: WorkSans;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.1px;
    text-align: center;
    color: #8998a7;
}
.Combined-Shape {
    border-radius: 5px;
    background-color: #eef6f8;
}
.Rectangle-1888 {
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0 #dfe7eb;
    margin-bottom: 204px;
    margin-top: 94px;
}
.-Hour-free {
    width: 165px;
    height: 24px;
    font-family: WorkSans;
    font-size: 31px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    color: #8564c1;
}
.of-heavy-markings-or {
    width: 246px;
    height: 20px;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
}
.Book-online-in-60-se {
    width: 272px;
    height: 64px;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
}
.Use-code-12GKUG {
    width: 142px;
    height: 13px;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8564c1;
}
.Routine-cleaning {
    width: 163px;
    height: 20px;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
}
.Rectangle-table {
    width: 0 auto;
    max-width: 1154px;
    min-width: 1024px;
    height: 0 auto;
    min-height: 500px;
    max-height: 672px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0 #dfe7eb;
}
.Vacuum-Carpets-Dusti {
    width: 216px;
    height: 0 auto;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.94;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
}
.Rectangle-67 {
    width: 1154px;
    height: 672px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0 #dfe7eb;
}
.checkmark {
    padding-left: 50px;
}
.Rectangle-68 {
    margin-top: 94px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0 #dfe7eb;
}
.Wet-Areas {
    width: 76px;
    height: 11px;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
}
.Rectangle-84 {
    width: auto;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 13px 27px 0 rgba(206, 219, 228, 0.45);
    margin-top: 100px;
}
.Bedrooms {
    width: auto;
    height: auto;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
}
.Rectangle-67 {
    width: 68px;
    height: 68px;
    border-radius: 5px;
    background-color: #8564c1;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.15;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.Rectangle-671 {
    width: 68px;
    height: 68px;
    border-radius: 1px;
    background-color: #bbc1cd;
    border: solid 2px #bbc1cd;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.15;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.Rectangle-6711 {
    width: 100px;
    height: 68px;
    border-radius: 5px;
    background-color: #8564c1;
    font-family: WorkSans;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.Rectangle-6718 {
    width: 157px;
    height: 68px;
    border-radius: 5px;
    background-color: #bbc1cd;
    border: solid 2px #bbc1cd;
    font-family: WorkSans;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.Home-condition {
    height: auto;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
}
.Clean-Type {
    height: auto;
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
}
.Rectangle-3 {
    width: auto;
    height: 57px;
    background-color: #8564c1;
    box-shadow: 0px 6px 18px 0 rgba(57, 73, 78, 0.28);
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.Quick-Cost-Estimate {
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #57616b;
}
.-hours {
    font-family: WorkSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8564c1;
}
.layer1 {
    font-family: WorkSans;
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    color: #8564c1;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label {
    background-color: #8564c1;
}
label {
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    border: solid 2px #bbc1cd;
}
.Rectangle-6712 {
    width: auto;
    min-width: 150px;
    height: 50px;
    border: solid 2px #d7e5f1;
}
.Rectangle-67128 {
    left: 300px;
    bottom: 200px;
}
.Rectangle-67128-Copy {
    width: auto;
    height: auto;
    border-radius: 5px;
    font-family: WorkSans;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
}
.locationMap {
    width: auto;
    height: 420px;
    object-fit: contain;
}
.Rectangle-15-Copy-2 {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 3px 7px 0 rgba(144, 151, 154, 0.28);
}
.Rectangle-15-Copy-2plus {
    margin-left: ;
}
.collapsed:after {
    width: 21px;
    height: 7px;
    object-fit: contain;
    background-image:src(source/img/images/plus.png);
}
.collapsed {
    width: 21px;
    height: 21px;
    object-fit: contain;
    background-image:src(source/img/images/minus.png);
}
