 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 3213px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Rectangle129 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1922px;
	 height: 3122px;
	 z-index:1;
} 

 #Rectangle53 
{ 
	 left: -2px; 
	 top: 2312px; 
	 position: absolute; 
	 width: 1923px;
	 height: 805px;
	 z-index:2;
} 

 #Readytobook 
{ 
	 left: 392px; 
	 top: 2410px; 
	 position: absolute; 
	 width: 329px;
	 height: 40px;
	 z-index:3;
} 

 #Bookprofessionalho 
{ 
	 left: 391px; 
	 top: 2473px; 
	 position: absolute; 
	 width: 499px;
	 height: 44px;
	 z-index:4;
} 

 #Rectangle3 
{ 
	 left: 1030px; 
	 top: 2432px; 
	 position: absolute; 
	 width: 233px;
	 height: 61px;
	 z-index:5;
} 

 #BOOKACLEAN 
{ 
	 left: 1092px; 
	 top: 2457px; 
	 position: absolute; 
	 width: 110px;
	 height: 11px;
	 z-index:6;
} 

 #Rectangle3_0 
{ 
	 left: 1299px; 
	 top: 2432px; 
	 position: absolute; 
	 width: 233px;
	 height: 61px;
	 z-index:7;
} 

 #SEESERVICES 
{ 
	 left: 1363px; 
	 top: 2457px; 
	 position: absolute; 
	 width: 107px;
	 height: 11px;
	 z-index:8;
} 

 #SERVICESPRICINGL 
{ 
	 left: 1077px; 
	 top: 2706px; 
	 position: absolute; 
	 width: 152px;
	 height: 139px;
	 z-index:9;
} 

 #DonecnecdiamconvaCop 
{ 
	 left: 390px; 
	 top: 2785px; 
	 position: absolute; 
	 width: 262px;
	 height: 85px;
	 z-index:10;
} 

 #ShellharbourWollong 
{ 
	 left: 1373px; 
	 top: 2743px; 
	 position: absolute; 
	 width: 95px;
	 height: 72px;
	 z-index:11;
} 

 #Seemore 
{ 
	 left: 1374px; 
	 top: 2834px; 
	 position: absolute; 
	 width: 76px;
	 height: 14px;
	 z-index:12;
} 

 #Availablehere 
{ 
	 left: 1374px; 
	 top: 2701px; 
	 position: absolute; 
	 width: 109px;
	 height: 12px;
	 z-index:13;
} 

 #Shape 
{ 
	 left: 1338px; 
	 top: 2697px; 
	 position: absolute; 
	 width: 20px;
	 height: 26px;
	 z-index:14;
} 

 #Unit5113Industri 
{ 
	 left: 818px; 
	 top: 2708px; 
	 position: absolute; 
	 width: 152px;
	 height: 71px;
	 z-index:15;
} 

 #Shape_0 
{ 
	 left: 783px; 
	 top: 2700px; 
	 position: absolute; 
	 width: 25px;
	 height: 22px;
	 z-index:16;
} 

 #layer_0424373421046732 
{ 
	 left: 819px; 
	 top: 2813px; 
	 position: absolute; 
	 width: 99px;
	 height: 35px;
	 z-index:17;
} 

 #hellosparcleancom 
{ 
	 left: 818px; 
	 top: 2885px; 
	 position: absolute; 
	 width: 179px;
	 height: 15px;
	 z-index:18;
} 

 #Shape_1 
{ 
	 left: 782px; 
	 top: 2883px; 
	 position: absolute; 
	 width: 26px;
	 height: 25px;
	 z-index:19;
} 

 #phone1 
{ 
	 left: 786px; 
	 top: 2811px; 
	 position: absolute; 
	 width: 17px;
	 height: 23px;
	 z-index:20;
} 

 #2016SparcleanSer { 
	 left: 784px; 
	 top: 3001px; 
	 position: absolute; 
	 width: 198px;
	 height: 15px;
	 z-index:21;
} 

 #TermsConditions 
{ 
	 left: 1059px; 
	 top: 3001px; 
	 position: absolute; 
	 width: 144px;
	 height: 12px;
	 z-index:22;
} 

 #PrivacyPolicy 
{ 
	 left: 1258px; 
	 top: 3001px; 
	 position: absolute; 
	 width: 101px;
	 height: 15px;
	 z-index:23;
} 

 #Bitmap 
{ 
	 left: 390px; 
	 top: 2978px; 
	 position: absolute; 
	 width: 129px;
	 height: 38px;
	 z-index:24;
} 

 #Createdby 
{ 
	 left: 390px; 
	 top: 2940px; 
	 position: absolute; 
	 width: 80px;
	 height: 15px;
	 z-index:25;
} 

 #Path2 
{ 
	 left: 481px; 
	 top: 2945px; 
	 position: absolute; 
	 width: 39px;
	 height: 4px;
	 z-index:26;
} 

 #Sparclean 
{ 
	 left: 391px; 
	 top: 2697px; 
	 position: absolute; 
	 width: 157px;
	 height: 58px;
	 z-index:27;
} 

 #Services 
{ 
	 left: 428px; 
	 top: 2740px; 
	 position: absolute; 
	 width: 52px;
	 height: 10px;
	 z-index:28;
} 

 #Path244 
{ 
	 left: 388px; 
	 top: 2601px; 
	 position: absolute; 
	 width: 1156px;
	 height: 5px;
	 z-index:29;
} 

 #Areas 
{ 
	 left: 390px; 
	 top: 1280px; 
	 position: absolute; 
	 width: 55px;
	 height: 15px;
	 z-index:30;
} 

 #WollongongShellharb 
{ 
	 left: 390px; 
	 top: 1402px; 
	 position: absolute; 
	 width: 96px;
	 height: 132px;
	 z-index:31;
} 

 #ConistonCoWCorde 
{ 
	 left: 685px; 
	 top: 1401px; 
	 position: absolute; 
	 width: 259px;
	 height: 826px;
	 z-index:32;
} 

 #KeiravilleCoWKem 
{ 
	 left: 981px; 
	 top: 1402px; 
	 position: absolute; 
	 width: 214px;
	 height: 826px;
	 z-index:33;
} 

 #RoseValleyKiama 
{ 
	 left: 1277px; 
	 top: 1401px; 
	 position: absolute; 
	 width: 234px;
	 height: 763px;
	 z-index:34;
} 

 #Findoutmoreabout 
{ 
	 left: 389px; 
	 top: 1321px; 
	 position: absolute; 
	 width: 408px;
	 height: 40px;
	 z-index:35;
} 

 #AlbionParkShell 
{ 
	 left: 390px; 
	 top: 1554px; 
	 position: absolute; 
	 width: 229px;
	 height: 676px;
	 z-index:36;
} 

 #Safeeffective 
{ 
	 left: 1048px; 
	 top: 1034px; 
	 position: absolute; 
	 width: 155px;
	 height: 16px;
	 z-index:37;
} 

 #AtSimplyMaidweo 
{ 
	 left: 1049px; 
	 top: 1076px; 
	 position: absolute; 
	 width: 485px;
	 height: 88px;
	 z-index:38;
} 

 #Rectangle128 
{ 
	 left: 388px; 
	 top: 1031px; 
	 position: absolute; 
	 width: 591px;
	 height: 163px;
	 z-index:39;
} 

 #Openinghours 
{ 
	 left: 434px; 
	 top: 1073px; 
	 position: absolute; 
	 width: 141px;
	 height: 20px;
	 z-index:40;
} 

 #9am5pmMonto 
{ 
	 left: 434px; 
	 top: 1116px; 
	 position: absolute; 
	 width: 146px;
	 height: 35px;
	 z-index:41;
} 

 #Phonenumber 
{ 
	 left: 634px; 
	 top: 1073px; 
	 position: absolute; 
	 width: 142px;
	 height: 16px;
	 z-index:42;
} 

 #layer_1300009363 
{ 
	 left: 634px; 
	 top: 1116px; 
	 position: absolute; 
	 width: 104px;
	 height: 11px;
	 z-index:43;
} 

 #Location 
{ 
	 left: 827px; 
	 top: 1073px; 
	 position: absolute; 
	 width: 83px;
	 height: 16px;
	 z-index:44;
} 

 #SydneyNSW 
{ 
	 left: 827px; 
	 top: 1115px; 
	 position: absolute; 
	 width: 104px;
	 height: 16px;
	 z-index:45;
} 

 #Rectangle15Copy2 
{ 
	 left: 1681px; 
	 top: 843px; 
	 position: absolute; 
	 width: 191px;
	 height: 71px;
	 z-index:46;
} 

 #layer_0424373421 
{ 
	 left: 1740px; 
	 top: 869px; 
	 position: absolute; 
	 width: 96px;
	 height: 12px;
	 z-index:47;
} 

 #phone1copy 
{ 
	 left: 1713px; 
	 top: 866px; 
	 position: absolute; 
	 width: 17px;
	 height: 23px;
	 z-index:48;
} 

 #Rectangle111 
{ 
	 left: 388px; 
	 top: 525px; 
	 position: absolute; 
	 width: 1155px;
	 height: 423px;
	 z-index:49;
} 

 #layer_20160725100 
{ 
	 left: 93px; 
	 top: 292px; 
	 position: absolute; 
	 width: 1592px;
	 height: 780px;
	 z-index:50;
} 

 #Rectangle3_1 
{ 
	 left: 1039px; 
	 top: 384px; 
	 position: absolute; 
	 width: 233px;
	 height: 60px;
	 z-index:51;
} 

 #FINDYOURCLEANER 
{ 
	 left: 1079px; 
	 top: 408px; 
	 position: absolute; 
	 width: 155px;
	 height: 12px;
	 z-index:52;
} 

 #Rectangle67 
{ 
	 left: 661px; 
	 top: 389px; 
	 position: absolute; 
	 width: 347px;
	 height: 53px;
	 z-index:53;
} 

 #Whatsyouraddress 
{ 
	 left: 686px; 
	 top: 409px; 
	 position: absolute; 
	 width: 169px;
	 height: 16px;
	 z-index:54;
} 

 #Theexperiencedprof 
{ 
	 left: 674px; 
	 top: 273px; 
	 position: absolute; 
	 width: 574px;
	 height: 44px;
	 z-index:55;
} 

 #Areasweserve 
{ 
	 left: 804px; 
	 top: 216px; 
	 position: absolute; 
	 width: 311px;
	 height: 29px;
	 z-index:56;
} 

 #Rectangle15Copy 
{ 
	 left: -11px; 
	 top: -23px; 
	 position: absolute; 
	 width: 1958px;
	 height: 118px;
	 z-index:57;
} 

 #SERVICESPRICINGL_0 
{ 
	 left: 692px; 
	 top: 42px; 
	 position: absolute; 
	 width: 650px;
	 height: 14px;
	 z-index:58;
} 

 #Path347 
{ 
	 left: 892px; 
	 top: 89px; 
	 position: absolute; 
	 width: 90px;
	 height: 6px;
	 z-index:59;
} 

 #Rectangle53_0 
{ 
	 left: 1391px; 
	 top: -7px; 
	 position: absolute; 
	 width: 154px;
	 height: 102px;
	 z-index:60;
} 

 #BOOKNOW 
{ 
	 left: 1428px; 
	 top: 41px; 
	 position: absolute; 
	 width: 83px;
	 height: 12px;
	 z-index:61;
} 

 #Sparclean_0 
{ 
	 left: 390px; 
	 top: 22px; 
	 position: absolute; 
	 width: 158px;
	 height: 58px;
	 z-index:62;
} 

 #Services_0 
{ 
	 left: 427px; 
	 top: 62px; 
	 position: absolute; 
	 width: 52px;
	 height: 11px;
	 z-index:63;
} 

 #Bitmap_0 
{ 
	 left: 390px; 
	 top: -19px; 
	 position: absolute; 
	 width: 1152px;
	 height: 6274px;
	 z-index:64;
} 
.Rectangle-67 
{
	width: 344px;
	height: 50px;
	border-radius: 5px;
	background-color: #d7e5f1;
	border: solid 2px #d7e5f1;
  }
  .Rectangle-3 
  {
	width: 230px;
	height: 57px;
	background-color: #8564c1;
	box-shadow: 0px 6px 18px 0 rgba(57, 73, 78, 0.28);
  }
  .-\32 016-07-25-100651 
  {
	width: 1152px;
	height: 420px;
	object-fit: contain;
  }
  .Areas-we-serve 
  {
	width: 311px;
	height: 29px;
	font-family: WorkSans;
	font-size: 42px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #57616b;
  }
  .p {
	font-family: WorkSans;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: 0.1px;
	text-align: center;
	color: #8998a7;
  }
  .heade_block
  {
  margin-left: 30px;
  width: 700px;
  height: 115px;
}
 .Services-Pricing {
	width: 353px;
	height: 39px;
	font-family: LucidaGrande;
	font-size: 42px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #57616b;
  }
  .We-offer-simple-pric {
	width: 754px;
	height: 43px;
	font-family: WorkSans;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: 0.1px;
	text-align: center;
	color: #8998a7;
  }