a {
width: 786px;
height: 66px;
font-family: WorkSans;
font-size: 16px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.56;
letter-spacing: normal;
text-align: left;
color: #697783;
}
ul {
width: 797px;
height: 328px;
font-family: WorkSans;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: left;
color: #737778;
}
.colortext {
    color: purple; /* Фиолетовий цвет выделения */
  }
.Privacy policy {
width: 329px;
height: 40px;
font-family: WorkSans;
font-size: 42px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #57616b;
}
.a1 {
width: 499px;
height: 44px;
font-family: WorkSans;
font-size: 18px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.44;
letter-spacing: 0.1px;
text-align: left;
color: #8998a7;
}
.a01 {
width: 802px;
height: 40px;
font-family: WorkSans;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: left;
color: #737778;
}
address {
    width: 786px;
    height: 66px;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #697783;
    }
p {
margin-left: 200px;
margin-right: 200px;
margin-top: 16px;
margin-bottom: 16px;
} 
.menu li {
display: inline-block; /* Выстраиваем по горизонтали */
border-right: 1px solid #fff; /* Белая линия справа */
}
.li1 {
background: rgb(232, 173, 255); /* Цвет фона под заголовком */
color:(9, 0, 128); /* Цвет текста */
padding: 2px; /* Поля вокруг текста */
}
.Web-site-terms-and-c {
width: 777px;
height: 32px;
font-family: WorkSans;
font-size: 42px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #57616b;
}
.upper-alpha {
list-style-type: upper-alpha; /* Заглавные буквы */
}
.Rectangle-54 {
width: 1920px;
height: 2590px;
background-color: #ffffff;
}
.Rectangle-15-Copy {
width: 1955px;
height: 38px;
border-radius: 5px;
background-color: #ffffff;
box-shadow: 0px 4px 5px 0 rgba(58, 67, 70, 0.11);
}
.bl footer {
    width: 80px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background: #3498db;
    border: 2px solid #34495e;
    
}
footer {
    margin-top: 0px;
    width: 1154px;
    height: 2px;
    border-top-width: 10px;
    margin-bottom: 332px;
}
block2.footer {
    margin-left: 166px;
    width: 152px;
    height: 71px;
}
#float-height .container {
    min-height: 150px;
}
#float-height .block1,
#float-height .block2,
#float-height .block3,
#float-height .block4{
    float: left;
    width: 95px;
    margin-right: 10px;
}
}
header {
    "width: 1934px;
    height: 115px;"
}
.The-experienced-prof {
    width: 574px;
    height: 44px;
    font-family: WorkSans;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.1px;
    text-align: center;
    color: #8998a7;
  }
  Rectangle-111 {
    width: 1152px;
    height: 420px;
    object-fit: contain;
  }
  .Rectangle-3 {
    width: 230px;
    height: 57px;
    background-color: #8564c1;
    box-shadow: 0px 6px 18px 0 rgba(57, 73, 78, 0.28);
  }
  .Rectangle-67 {
    width: 344px;
    height: 50px;
    border-radius: 5px;
    background-color: #d7e5f1;
    border: solid 2px #d7e5f1;
  }
  .At-Simply-Maid-we-o {
    width: 485px;
    height: 88px;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #737778;
  }
  .float-height .block6{
    float: left;
    width: 485px;
    height: 88px;
    margin-right: 10px;
}