.Sparclean {
  width:auto;
  height: 58px;
  object-fit: contain;
  font-family: GrandHotel;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8564c1;
}
.Services {
  width:auto;
  height: 11px;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #8564c1;
  padding-left: 75px;
}
.SERVICES & PRICING {
  width: auto;
  height: 13px;
  font-family: WorkSans;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4f6569;
}
.BOOK_NOW{
    width: auto;
    height: auto;
    font-family: WorkSans;
    font-size: 15px;
    color: #ffffff;
    background-color: #8564c1;
}
.Available_here {
  width: auto;
  height: auto;
  font-family: WorkSans;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #8564c1; 
}
.We-use-the-best-clea {
  width: auto;
  height: 90px;
  font-family: WorkSans;
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #57616b;
}
We-use{
  margin-left: auto;
    margin-right: auto;
}
.center {
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
   }
.Book-professional-ho {
  width: auto;
  height: 44px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 0.1px;
  text-align: center;
  color: #8998a7;
}
.Rectangle-188 {
  width: 344px;
  height: 283px;
  outline: #eef6f8 solid 5px;
  border-radius: 5px;
  background:#ffffff;
}
.Rectangle-15-Copy {
  width: 1920px;
  height: 94px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 5px 0 rgba(58, 67, 70, 0.11);
}
.Bitmap {
  width: auto;
  height: 615px;
  object-fit: contain;
  background-image: url(img/bitmap%D0%B0.png);
}
.Open-the-door-to-bet {
  width: auto;
  height: 65px;
  font-family: WorkSans;
  font-size: 68px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #57616b;
}
.Book-professional-ho {
  width: auto;
  height: 57px;
  font-family: Hind;
  font-size: 23px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  letter-spacing: 0.1px;
  text-align: center;
  color: #57616b;
}
.Rectangle-3 {
  width: auto;
  height: 57px;
  border-radius: 28.5px;
  background-color: #8564c1;
  box-shadow: 0px 6px 18px 0 rgba(57, 73, 78, 0.28);
}
.Rectangle-3w {
  width: auto;
  height: 57px;
  border-radius: 28.5px;
  background-color: #bbc1cd;
  border: solid 2px #bbc1cd;
}
button{
    content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
    text-align: center;
}
.Sydney-CBD-North-Syd {
  width: auto;
  height: auto;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4f6569;
}
.Rectangle-15w {
  width: auto;
  height: 68px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0 rgba(46, 55, 59, 0.38);
}
navw{
  bottom: 150px;
}
.Scandinavian-style-mixed-with-feminine-touch {
  width: 847px;
  height: 480.9px;
}
.video-wrapper{
    position:relative;
    display:inline-block;
  }
  .video-overlay{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-image:url("http://static.comicvine.com/uploads/original/11120/111201466/4876184-6766483597-27828.jpg");
    background-size:cover;
  }
.Mask {
  width: 847px;
  height: 481px;
  background-color: #8564c1;
}
.Oval-24-Copy {
  width: 65px;
  height: 65px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0 rgba(46, 55, 59, 0.38);
}
.Before-after {
  width: auto;
  height: 32px;
  font-family: WorkSans;
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #57616b;
}
.Book-professional-hoa {
  width: auto;
  height: 44px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 0.1px;
  text-align: center;
  color: #8998a7;
}
.ShapeBN {
  width: 12px;
  height: 26px;
  background-color: #57616b;
  border: solid 2px #57616b;
}
.Cleaner {
  width: auto;
  height: 410px;
  object-fit: contain;
}
.Fully-Insured-and-Gu {
  width: auto;
  height: 20px;
  font-family: WorkSans;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #57616b;
}
.The-life-of-a-Sydney {
  width: auto;
  height: 87px;
  font-family: WorkSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #737778;
  margin-top: 50px;
}
.The-life-of-a-Sydneypn {
  width: auto;
  height: 87px;
  font-family: WorkSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #737778;
  margin-top: 75px;
